<div class="container">
    <app-sidebar></app-sidebar>
    <div class="main-content">
        <h2>Cuenta Origen</h2>
        <p id="slc">Seleccione la cuenta origen:</p>
        <div class="account-list">
            <div class="account">
                <p>Cuenta</p>
                <p>No. ####</p>
                <p>Saldo disponible</p>
                <p>$0.00 </p>
            </div>
            <div class="account">
                <p>Cuenta</p>
                <p>No. ####</p>
                <p>Saldo disponible</p>
                <p>$0.00 </p>
            </div>
            <div class="account">
                <p>Cuenta</p>
                <p>No. ####</p>
                <p>Saldo disponible</p>
                <p>$0.00</p>
            </div>
        </div>
    </div>
</div>