/* Estilos para el contenido principal */
  .main-content {
    margin-left: 420px;
    margin-top: 100px;
    padding: 3rem;
  }
  
  .main-content h2 {
    color: #333;
    font-weight: bold;
  }
  
  .main-content .account-cards {
    display: flex;
    gap: 1rem;
  }
  
  .main-content .account-card {
    background-color: #14b8a6;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    width: 300px;
    text-align: center;
  }
  .main-content .account-card h4{
    color: white;
    margin-top: 1px;
    margin-left: 1px;
    width: 300px;
    font-size: 20px;
    text-align: left;
  }
  .main-content .account-card:hover {
    background-color: #0f8e7d;
    transform: scale(1.05);
  }
  .main-content .anadir-cuenta {
      background-color: #dddddd;
      color: rgb(67, 67, 67);
      padding: 1rem;
      border-radius: 8px;
      width: 300px;
      text-align: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
  }
  

  .main-content .anadir-cuenta h4{
    color: rgb(67, 67, 67);
    margin-top: 30px;
    width: 300px;
    font-size: 100px;
    text-align: center;
  }

  .main-content .anadir-cuenta p{
    color: rgb(67, 67, 67);
    width: 300px;
    text-align: center;
  }

  