<div class="navbar">
    <div class="logo">
        <img src="assets/images/neologo.png" alt="logo" id="logo-img">
        <span class="logo-text">EPN WALLET</span>
    </div>
</div>

<div class="sidebar">
    <ul>
        <li><a href="#"><i class="icon-home"></i>Inicio</a></li>
        <li><a href="#"><i class="icon-transfer"></i>Transferencias</a></li>
        <li><a href="#"><i class="icon-movements"></i>Movimientos</a></li>
        <li><a href="#"><i class="icon-logout"></i>Cerrar Sesión</a></li>
    </ul>
</div>

<div class="main-content">
    <h2>Mis Productos</h2>
    <h3>Cuentas de ahorros</h3>
    <div class="account-cards">
        <div class="account-card">
            <h4>AHO458</h4>
            <p>2215433658</p>
            <p>Disponible: $100</p>
            <p>Contable: $100</p>
        </div>
        <div class="account-card">
            <h4>AHO236</h4>
            <p>22154342123</p>
            <p>Disponible: $100</p>
            <p>Contable: $100</p>
        </div>
        <div class="anadir-cuenta">
            <h4>+</h4>
            <p>Añadir una cuenta</p>
        </div>
        
    </div>
</div>