<div class="navbar">
    <div class="logo">
        <img src="assets/images/neologo.png" alt="logo" id="logo-img">
        <span class="logo-text">EPN WALLET</span>
    </div>
</div>

<div class="recover-container">
    <h2>Recuperar Contraseña</h2>
    <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="usuario">Nombre de usuario:</label>
            <input type="text" id="cedula" formControlName="cedula" required>
        </div>
        <div class="form-group">
            <label for="nuevaContraseña">Nueva contraseña:</label>
            <input type="text" id="cedula" formControlName="cedula" required>
        </div>
        <div class="form-group">
            <label for="confirmarContraseña">Confirmar contraseña:</label>
            <input type="text" id="cedula" formControlName="cedula" required>
        </div>
        <button type="submit" class="btn primary" [disabled]="recoverForm.invalid">Cambiar contraseña</button>
    </form>
</div>