.navbar {
    background-color: #2C2F48;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar .logo {
    display: flex;
    align-items: center;
  }
  
  #logo-img {
    height: 40px; /* Ajusta el tamaño del logo según tus necesidades */
    margin-right: 10px;
  }
  
  .logo-text {
    font-size: 24px;
    font-weight: bold;
  }
  
  .sidebar {
    width: 250px;
    background-color: #edf2f4;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 60px;
    margin-top: 60px;

  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin-left:20px;
  }
  
  .sidebar ul li {
    padding: 10px 20px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #2b2d42;
    font-weight: bold;
   
  }
  
  .transfer-container {
    margin-left: 220px;
    padding: 20px;
  }
  
  .amount-container {
    display: flex;
    justify-content: space-between;
    background-color: #edf2f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 80px;
    margin-right: 80px;
  }
  
  .amount-left {
    flex: 1;
    margin-right: 0;
  }
  
  .amount-right {
    flex: 1;
  }
  
  .amount-left h2, .amount-right h2 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 100px;
  }
  
  .amount-left input {
    width: 50%;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    color: #999;
    margin-left: 60px;
  }
  
  .account-details-btn {
    background-color: #2C2F48;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    border: none;
    width: 100%;
    height: 100px;
    text-align: left;
    cursor: pointer;
    margin-right: 300px;
  }
  
  .account-details-btn span {
    display: block;
    width: 50%;
  }
  
  .beneficiary {
    margin-bottom: 0px;
    margin-left: 80px;
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 300px;
  }
  
  .btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn.primary {
    background-color: #Ef233c;
    color: #fff;
    margin-left: 300px;
    margin-top: 20px;
  }
  
  .next-btn {
    background-color: #ef233c;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
   
  