<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <i class='bx bxs-bank'></i>
            <div class="logo_name">Banco PoliTech</div>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>

        <div class="src">
            <i class='bx bx-search'></i>
            <input type="text" placeholder="Search..">
        </div>

        <ul class="nav">
            <li>
                <a href="#">
                    <i class='bx bx-chart'></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-home' ></i>
                    <span class="link_name">Inicio</span>
                </a>
                <span class="tooltip">Inicio</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-transfer'></i>
                    <span class="link_name">Transferencias</span>
                </a>
                <span class="tooltip">Transferencias</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-shape-circle'></i>
                    <span class="link_name">Movimientos</span>
                </a>
                <span class="tooltip">Movimientos</span>
            </li>
        </ul>
</div>



